.Det_sec3-container{
    width:100%;
    height:100%;
    font-size: 1.1rem;
    display: flex;  flex-direction: column; gap:50px;
}

/* 데이터 안들어 왔을 때 */
.Det_sec3-nodata{
    width: 100%;    text-align: left;   font-size: 1.5rem;  line-height: 38px;  position: relative;
}
.Det_sec3-nodata-img{
    position: absolute; top:50%; transform: translateY(-50%); 
}

/* 섹션 1 */
.Det_sec3-sec1{
    width: 100%; text-align: center; box-sizing: border-box;  padding-top: 40px;    position: relative;

}
/* display: flex;  flex-direction: column; gap:30px;    */
/* 섹션 1-1 */
.Det_sec3-s1-b1-d1{
  font-size: 5rem; display: inline-block;   box-sizing: border-box; margin-right: 20px; font-weight: bold;
}
.Det_sec3-s1-b2{
    display: flex;  flex-direction: column; gap:20px;
}
.Det_sec3-s1-b1{
    margin-bottom: 30px;
}
/* 섹션 1-2 */
.Det_sec3-s1-b2-d1{
    font-size: 1.8rem;
}
.Det_sec3-s1-b2-d2{
    color: rgb(150,150,150);
}




/* 섹션 2 */
.Det_sec3-sec2{
    width: 100%;  display: flex;
}
.Det_sec3-sec2-categories{
    width: 100%;    display: flex;  flex-direction: column; gap:5px;    font-size: 1rem;  box-sizing: border-box; padding-right: 95px;   padding-left: 40px;
    border-right: solid 1px rgb(210,210,210);
}
.Det_sec3-sec2-categories:nth-child(6){
    border: none;
}