.Det_sec5-container{
    width:100%;
    height:100%;
    font-size: 1.1rem;
    display: flex;  flex-direction: column; gap:30px;
}
.Det_sec5-con-title{
    font-size: 1.5rem;  font-weight: bold;
}
.Det_sec5-con-wrapper{
    display: flex;  gap:50px;   justify-content: space-between
}
.Det_sec5-con-sec1{
  width:40%;
}
.Det_sec5-con-sec2{
    box-shadow: 0 0 10px 1px rgb(207, 207, 207) ;   width: 60%;     border-radius: 15px;
}
