@import '@/manage_scss_style/commonness/colors';

.host-update-layout{
    width: 1200px;
    display: flex;
    height: calc((calc(var(--vh) * 100) - 26.23px));
}
// content
.host-update-layout__content{
    padding-top: 50px;    
    padding-bottom: 50px;
    flex-grow: 1;   
    position: relative;
}

// side menu
.host-update-layout__aditor-container{
    width: 300px;   
    display: flex;  
    flex-direction: column;
    padding-top: 50px;   
    padding-bottom: 50px;
    border-right: solid 1px $grey-lv10;

}
.host-update-layout__aditor-header{
    width: 100%;    
    height: fit-content;    
    padding-bottom: 30px;    
}
.host-update-layout__aditor-title{
    font-size: 1.525rem;   
    font-weight: 600;
    padding-bottom: 40px;   
    display: flex;  
    gap:30px;
    align-items: center;
}
.host-update-layout__aditor-title > button{
    width: 30px;    
    height: 30px;   
    background-color: $grey-lv10;
    border: none;   
    border-radius: 100%;
    display: flex;  
    align-items: center;    
    justify-content: center;
    cursor: pointer;
}
.host-update-layout__aditor-title > button:hover{
    background-color: $grey-lv8;
}
.host-update-layout__aditor-title > button > img{
    width: 20px;    
    height: 20px;
}
.host-update-layout__aditor-button-container{
    display: flex;  
    gap:15px;   
    width: 100%;    
    height: 36px;
}
.host-update-layout__aditor-button-container > div > button{
    padding: 0 12px;  
    height: 36px; 
    transition: 0.2s;
}
.host-update-layout__aditor-button-container > div{
    display: flex;  
    gap:15px;
}

