.Res_con_payment-container{
    width:100%;
    height:fit-content;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px rgb(207, 207, 207) ; 
    display: flex;  flex-direction: column; gap:20px;
}

.Res_con_payment-sec3{
    display: flex;
    justify-content: space-between;
}
.Res_con_payment-sec2,.Res_con_payment-sec3{
    width:100%;
    display: flex;  flex-direction: column; gap:10px;   box-sizing: border-box; padding-bottom: 20px;
    border-bottom:solid 1px black ;
}
.Res_con_payment-sec2-s1, .Res_con_payment-sec2-s2, .Res_con_payment-sec2-s3{
    width:100%;
}
.Res_con_payment-sec2-s2, .Res_con_payment-sec2-s3{
    display: flex;
    justify-content: space-between;
}

/* 섹션1 */
.Res_con_payment-sec1{
    display: flex;  gap:10px;   width: 100%;
}
.Res_con_payment-sec1-s1, .Res_con_payment-sec1-s2{
    width:50%;
    height: 125px;
}
.Res_con_payment-sec1-s2-s1{
    font-size: 1.2rem; font-weight: bold;
}
.Res_con_payment-sec1-s2{
    display: flex;  flex-direction: column; gap:5px;
}
.Res_con_payment-sec1-s2-s2{
    color : rgb(120,120,120)
}

/* 섹션 2 */
.Res_con_payment-sec2-s1{
    font-size: 1.1rem; font-weight: bold;
}
.Res_con_payment-sec2-s2-s2{
    color: #1273e4; font-weight: bold;   
}

/* 섹션 3 */
.Res_con_payment-sec3-s1{
    font-size: 1.1rem; font-weight: bold;
}
.Res_con_payment-sec3-s2{
    color: #1273e4; font-weight: bold;   
}
/* 섹션 4 */
.Res_con_payment-sec4{
    color: #C13515; text-decoration: underline;
}