@import '@/manage_scss_style/commonness/colors';
.detail-section6__container{
    width:100%;
    height:100%;
    font-size: 0.9375rem;
    display: flex;  
    flex-direction: column; 
    gap:24px;   
    color: $black-lv1;
}
// title
.detail-section6__container-title{
    font-size: 1.125rem;  
    font-weight: 600;
    color: $black-default;
}

// contents
.detail-section6__container-contents{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 28px;
}
.detail-section6__container-item{
    border: solid 1px $grey-lv10;
    border-radius: 10px;
}
// item box
.detail-section6__container-item{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 20px;
}
.detail-section6__container-item-title{
    font-size: 0.9825rem;
    font-weight: 600;
    color: $black-default;
}
.detail-section6__item-check-time-wrapper{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.detail-section6__rule-wrapper{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.detail-section6__rule-box{
    display: flex;
    gap:5px;
}
