@import '@/manage_scss_style/commonness/colors';

.host-manage-list__section1{
    display: flex;  
    justify-content: space-between; 
    align-items: center;
    padding-bottom: 20px;
}
.host-manage-list__content{
    width: 100%;  
    min-height: 500px;
    display: flex;  
    flex-direction: column;
    gap:15px; 
    padding-top: 50px;  
    padding-bottom: 50px;
}
.host-manage-list__container{
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;

}
.host-manage-list__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: rgb(243, 243, 243);
}

// 헤더 
.host-manage-list__section1-title{
    font-size: 2rem;    
    font-weight: bold;
}

// 서브 헤더 
.host-manage-list__section2-title{
    font-size : 1rem;   
    display: flex;  
    width: 100%;    
    justify-content: space-between;   
    gap:15px;
    border-bottom: solid 1px $grey-lv10;
    padding-bottom:15px ;
}
.host-manage-list__section2-text-part1{
    display: flex;  
    width: 65%; 
    align-items: center;
}
.host-manage-list__section2-text-part2{
    width: 20%; 
    display: flex;  
    align-items: center;
}
.host-manage-list__section2-text-part3{
    width: 10%; 
    display: flex;  
    align-items: center;
}

// 숙소 리스트 콘텐츠 
.host-manage-list__section2-box{
    display: flex;  
    flex-direction: column; 
    gap:15px;
}
.host-manage-list__section2-box-container{
    display: flex;  
    justify-content: space-between; 
    width: 100%;    
    cursor: pointer; 
    border-radius: 10px;    
    transition: 0.2s 
    background-color;
    font-size: 0.9375rem;
    color: $grey-lv1;
}
.host-manage-list__section2-box-container:hover{
    background-color: $grey-end;
}
.host-manage-list__section2-box-container-part1{
    display: flex;  
    width: 65%; 
    gap:30px;   
    align-items: center;
    
}
.host-manage-list__section2-box-container-part1-img{
    width: 80px;   
    height: 80px;  
    border-radius: 10px;
}
.host-manage-list__section2-box-container-part2{
    width: 20%; 
    display: flex;  
    align-items: center;
}
.host-manage-list__section2-box-container-part3{
    width: 10%; 
    display: flex;  
    gap: 10px;
    align-items: center;
}
.host-manage-list__section2-box-container-part3-complete{
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: #228b22;
}
.host-manage-list__section2-box-container-part3-non-complete{
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: $red-lv2;
}

// 버튼
.host-manage-list__section1-add-button{
    border-radius: 100px;   
    padding: 5px 15px;
    display: flex;  
    justify-content: center;    
    align-items: center;
}