.Acc_regist_lv5-footer{
    width:100%;
    position: fixed;
    bottom: 0;
}
.Acc_regist_lv5-container{
    width:1920px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Acc_regist_lv5_content{
    margin-top: 50px;  
    width:600px;
}
.Acc_regist_lv5-con-title{
    margin-bottom: 10px;
    font-size: 2rem;    font-weight: bold;
}
.Acc_regist_lv5-con-sec1{
    width:100%;
    box-sizing: border-box; padding-top: 10px;
}
.Acc_regist_lv5-con-s1-b1{
    color: red; margin-bottom: 40px;
}
.Acc_regist_lv5-con-s1-b2{
    width: 100%;
    padding-bottom: 30px; border-bottom: solid 1px rgb(150,150,150); margin-bottom: 30px;
    display: flex; flex-direction: column;  gap: 30px;
}
.ac_reg_lv5-con-s1-b2-in{
    width: 100%; box-sizing: border-box; font-size: 1rem; padding-top: 10px; padding-bottom: 10px;  padding-left: 10px; 
    border-radius: 10px;       border: solid 1px rgb(180,180,180);
}
.popup{
    box-shadow: 0 0 10px 1px rgb(207, 207, 207) ; border-radius: 10px;
}

/* 지도 */

.Acc_regist_lv5-con-s1-b3-t1{
    display: flex;  flex-direction: column; gap: 15px;
}
.Acc_regist_lv5-con-s1-b3-t1-d1{
    font-size: 1.2rem; font-weight: bold;
}
.Acc_regist_lv5-con-s1-b3-t1-d2{
    color: red;
}
.Acc_regist_lv5-con-s1-b3-t2{
    width: 100%;    height: 30vh;   margin-top: 50px;
}