.Private_point-content{
    width:1200px; box-sizing: border-box;
    display: flex;     height: 500px;
}
.Private_point-container{
    width:1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Private_point-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    font-size: 5rem;
    background: rgb(243, 243, 243);
}
.pri-po-con-main{
    width:100%;     height: 100%;
}
.pri-po-con-main-title, .pri-po-con-main-sec1{
    border-bottom: solid 1px black;
}