@import '@/manage_scss_style/commonness/colors';
    
.host-regist-view__footer{
    width:800px;
    position: fixed;
    bottom: 0;
}
.host-regist-view__container{
    width:1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.host-regist-view__content{
    margin-top: 50px;   
    width: 800px;
}
.host-regist-view__content-title{
    margin-bottom: 50px;
    font-size: 1.725rem;    
    font-weight: bold;
}
.host-regist-view__content-sub-title{
    margin-top: 10px;   
    font-size: 1rem;
}

// 데이터 인풋 
.host-regist-view__content-section1{
    width:100%;
    display: flex; 
    gap:20px;    
    flex-direction: column;
    position: relative;
}
.host-regist-view__content-section1-box1, 
.host-regist-view__content-section1-box2{
    width: 100%;   

}
.host-regist-view__content-section1-box1-text1{
    width: 100%;    
    height: 500px;
    font-size: 1.166rem;    
    line-height: 1.1; 
}

.host-regist-view__gurabox{
    width: 100%;    
    padding: 0 15px;
    position: absolute; 
    top:0;  
    left: 0;
    font-size: 1.166rem;    
    line-height: 1.1; 
    white-space: pre-wrap;
    z-index: -1;    
    visibility: hidden;
}
.host-regist-view__content-section1-box2-text2{
    color: $red-lv2;
    font-size: 0.825rem;
}
.host-regist-view__content-section1-box2{
    display: flex; 
    flex-direction: column; 
    gap: 5px;
}
