@font-face {
    font-family: 'ClimateCrisisKR-1979';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.Creator_description-container{
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;  border-radius: 15px;    box-sizing: border-box;
    background: #e1f2f7;

}
/* 박스1 */
.Creator_description-box1{
    box-sizing: border-box; padding-top: 40px; padding-bottom: 40px;    padding-left: 20px;
    display: flex;  flex-direction: column; gap:10px;
}
.Creator_description-b1-c1{
    font-size: 1.6rem;  font-weight: bold;
}
.Creator_description-b1-c2{
    font-size: 1rem;
}
.Creator_description-b1-c3{
    height: 100%;   display: flex;  gap:30px;   align-items: flex-end;
}
/* 버튼 */
.Creator_description-b1-c3-btn1{
    border: none;   border-radius: 15px;    background:  #1273e4;   box-sizing: border-box; padding-left: 20px; padding-right: 20px;    padding-top: 10px;  padding-bottom: 10px;
    height: fit-content;    color: white;   font-family: inherit;   font-size: 1rem;    cursor: pointer;
}
.Creator_description-b1-c3-btn2{
    color :  #1273e4; border: none; background: none;   font-size: 1rem;    font-family: inherit;   box-sizing: border-box;   font-weight: bold;
    cursor: pointer;    display: flex;  align-items: center;    height: 39px;
}
.Creator_description-b1-c3-btn1:hover{
    opacity: 0.97;
}
.Creator_description-b1-c3-btn2:hover{
    text-decoration: underline;
}

/* 박스2 */
.Creator_description-box2{
    width: 300px;   height: 200px;  position: relative;
}
.Creator_description-b2-d1{
    position: absolute; bottom: 30px;   transform: rotateZ(-3deg); width: 100px;  border-radius: 20px;
    z-index: 1; left: 60px;
}
.Creator_description-b2-d2{
    font-size: 1.4rem;      font-family: 'ClimateCrisisKR-1979';    color: white;   background: #00A8D5;    box-sizing: border-box; width: fit-content;
    padding-top: 8px;   padding-bottom: 8px;    padding-left: 25px; padding-right: 20px;    border-radius: 20px;
    position: absolute; z-index: 2; box-shadow: 5px 5px 10px 1px rgb(104, 104, 104) ;
    bottom: 130px;     left:-80px;     transform: rotateZ(-5deg);
}
.Creator_description-b2-d3{
    position: absolute; bottom: 40px;   transform: rotateZ(5deg); width: 80px;   border-radius: 20px;
    z-index: 1; left:130px;
}
.Creator_description-b2-d4{
    position: absolute; bottom: 40px;   width: 100px;   border-radius: 20px;
    z-index: 0; left:180px;
}