@font-face {
    font-family: 'ClimateCrisisKR-1979';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.AgreeTerms-container{
    width:1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AgreeTerms-content{
    width:580px; height:650px;  margin-top: 50px;   margin-bottom: 50px;
    border: solid 1px rgb(182, 182, 182);
    padding-left: 69px; padding-right: 69px;   padding-top: 40px;   padding-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:20px; 
}
.AgreeTerms-content-sec1{
    width:100%;
    border-bottom: solid 1px rgb(210,210,210);
}


.AgreeTerms-content-sec2-btn{
    border: none;     display:flex; align-items: center;    justify-content: center;
    width:100%;   font-size: 1.2rem;    cursor: pointer;    height: 40px;
    background: rgb(210,210,210);
    text-align: center;
    border-radius: 15px;    transition: 0.1s;   color: black;   font-family: inherit;
}
.Agreeterms-btn-active{
    background: #b8e0e9;
}
.Agreeterms-btn-active:hover{
    background: #80CEE1;
}
.AgreeTerms-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: rgb(243, 243, 243);
}


/* 헤더 */
.AgreeTerms-content-sec1-s1{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'ClimateCrisisKR-1979';    color: #00A8D5;
}
.AgreeTerms-content-sec1-s2{
    width:60px; background: rgb(243, 243, 243);     margin-bottom: 20px;
}
.level-bar-lv1{
    width:33%; height: 5px; background: black;
}
.AgreeTerms-content-sec1-s3{
    font-size: 1.3rem;  margin-bottom: 60px;
}
.AgreeTerms-content-sec1-s4{
    margin-bottom: 20px;     display: flex;  gap: 20px;  font-size: 1.1rem;
}

/* 컨텐츠 */
.AgreeTerms-content-sec2{
    width:100%; display: flex;  flex-direction: column; gap:20px;
}
.AgreeTerms-content-sec2-s1{
    display: flex;  flex-direction: column; gap:20px;   height: 100%;
}
.AgreeTerms-content-sec1-s4 > label{
    display: flex;  align-items: center; 
}
.AgreeTerms-con-s1-s1-box{
    display: flex;  gap:20px;   font-size: 1.1rem;  
}
.AgreeTerms-con-s1-s1-box > label{
    line-height: 30px; 
}
.AgreeTerms-con-s1-s1-box > label > span{
    color:  #1273e4; margin-left: 5px;
}
.terms-checkbox{
    cursor: pointer;    height: max-content;  cursor: pointer;
}
.terms-checkbox[type=checkbox]{
    zoom:1.5;
}
/* .terms-checkbox:nth-child(1){
    margin-top : 0;
} */