.event-section__container{
    width: 1200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap:20px;   position: relative; 
}
.event-section__title{
    font-size: 1.125rem;  font-weight: 600;
}
// 스와이퍼
.event-section__slide{
    height: 100%;    user-select: none;
}
.event-section__content{
    height: 100%;
}
