.Private_management-container{
    width:1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;    gap: 30px;
}
.Private_management-content{
    width:1200px; box-sizing: border-box;
    display: flex;  min-height: 800px;  gap: 30px;
}
.Private_management-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: rgb(243, 243, 243);
}
.pri-man-con-main{
    display: flex;  flex-direction: column; gap:30px;   width: 100%;
}



/* 헤더 */
.pri-man-con-main-title{
    font-size: 1.8rem;  font-weight: bold;
}
/* 섹션1 */
.pri-man-con-main-sec1{
    display: flex;  flex-direction: column; gap:10px;
}
.pri-man-con-main-sec1-s1{
    font-size: 1.2rem;  font-weight: bold;
}
.pri-man-con-main-sec1-s2{
    color: rgb(165,165,165);
    display: flex;  justify-content: space-between;
}
.pri-man-con-m-s1-s2-b2{
    box-sizing: border-box; padding: 10px;  background: #1273e4;    border-radius: 10px;    color: white;   cursor: pointer;    transition: 0.2s;
}
.pri-man-con-m-s1-s2-b2:hover{
    background: black;  color: white;
}
.pri-man-con-m-s1-s2-b1{
    display: flex;  align-items: center;
}

/* 섹션 2 */
.pri-man-con-main-sec2{
    display: flex;  flex-direction: column; gap: 40px;
}
.inputbox{
    width: 50%;
    display: flex;  flex-direction: column; gap: 10px;
}
.inputbox > label{
    font-size: 0.9rem;  color: rgb(120,120,120);
}
.inputbox > input{
    border: none;   background: rgb(230,230,230);   border-radius: 15px;
    font-size: 1.5rem;  box-sizing: border-box; padding: 10px;
}
.inputbox > input:focus{
    outline: none;  color: black;
}
.pri-man-submit-btn{
    width: 50%; height: 48px;   border: none;   cursor: pointer;    border-radius: 15px;    font-size: 1.2rem;
    background: #1273e4;  color: white; transition: 0.2s;
}
.pri-man-submit-btn:hover{
    background: black;
}
/* 섹션3 */
.pri-man-con-main-sec3{
    display: flex;  gap:10px;
}
.pri-man-con-main-sec3-s1{
    color: rgb(165,165,165);    display: flex; align-items: center;
}
.pri-man-con-main-sec3-s2{
    color: rgb(120,120,120);    font-weight: bold;  cursor: pointer;    border-radius: 15px;    box-sizing: border-box; padding: 5px;
}
.pri-man-con-main-sec3-s2:hover{
    background: rgb(230,230,230);
}