/* 메인메뉴 기본 레이아웃 */

@font-face {
    font-family: 'ClimateCrisisKR-1979';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.main-menu-container{
    width:1200px;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}
.main-menu-wrapper{
    width: 1920px;
    display: flex;  justify-content: center;    border-bottom: solid 1px rgb(235,235,235);
}

.main-menu-list{
    cursor: pointer;
}

.main-menu-list,.main-menu-logo{
    text-decoration: none;
    color: rgb(3, 3, 58);
    font-weight: bold;    
    position: relative;

}

.main-menu-logo{
    font-family: 'ClimateCrisisKR-1979';
    font-size: 1.5rem;
    color: #00A8D5;
    font-weight:bold;
}

.main-menu-logo,.main-menu-right{
    display: flex;
    align-items: center;
}

.main-menu-right{
    gap: 25px;
    position: relative;
}
/* 호스트 메뉴 */
.main-menu-host{
    /* display: flex; */  
    display: none; 
}
.hostmenu-active{
    display: flex;    align-items: center;    gap:19px;       color: rgb(3, 3, 58);
    cursor: pointer;
}
.current-host{
    text-decoration: underline; text-decoration-thickness:  2px ; text-underline-position : under;    font-weight: bold;
}

/* 로그인상태메뉴 */
.main-menu-list{
    border: solid 1px rgb(210,210,210);  box-sizing: border-box; padding:10px;   border-radius: 15px;
    font-size: 1rem; line-height: 25px; display: flex;
}
.main-menu-list:hover{
    box-shadow: 0 0 10px 1px rgb(207, 207, 207) ;
}
.main-menu-log-img{
    width:30px; height: 25px;   margin-right: 15px;
}