@import '@/manage_scss_style/commonness/colors';

.detail-section4__container{
    width:100%;
    height:100%;
    display: flex;  
    flex-direction:column; 
    gap: 30px;
    color: $black-lv1;
}
.detail-section4__container-section2{
    display: flex;  
    flex-direction:column; 
    gap: 30px;
}

// section1
.detail-section4__container-section1{
    display: flex;  
    align-items: flex-end;
    gap:10px;
}
.detail-section4__container-section1-title{
    font-size: 1.125rem;  
    font-weight: 600;
    color: $black-default;
}
.detail-section4__container-section1-sub-title{
    font-size: 0.8225rem;
}



// 댓글목록
.detail-section4__container-section2-part1{
    display: grid; 
    grid-template-columns: repeat(2, minmax(0,1fr));    
    width: 100%;    
    column-gap: 100px;
    row-gap: 80px;
}
.detail-section4__container-section2-part1-content{
    width : 100%;     
    display: flex;  
    flex-direction: column; 
    gap:15px;
}

// 댓글목록 - 유저데이터
.detail-section4__container-section2-part1-user{
    display: flex;   
    width: 100%; 
    height: fit-content;  
    gap:15px;
}
.detail-section4__user-img{
    width: 48px;    
    height: 48px;   
    object-fit: cover;
    border-radius: 50%;
}
.detail-section4__user-text{
    height: 100%;   
    display: flex;  
    justify-content: center;  
    gap:5px;
    flex-direction: column; 
}
.detail-section4__user-text > span:nth-child(1){
    font-size: 1.125rem;
    color: $black-default;
}
.detail-section4__user-text > span:nth-child(2){
    font-size: 0.8425rem;
    color: $grey-lv1;
}
.detail-section4__star-box{
    height: 100%;   
    width: fit-content;
    display: flex;  
    align-items: center;    
    padding: 4px 5px 3px 3px;   
    font-weight: 600;
    font-size: 0.775rem;
    gap:3px;
    border-radius: 6px;    
    background-color: #FFAD0A;
}
.detail-section4__star-box > img{
    width: 11px;    
    position: relative; 
    top:-1px;
}
.detail-section4__user-evaluation{
    display: flex;
    gap:10px;
    align-items: center;
}
.detail-section4__user-evaluation > span:nth-child(2){
    font-size: 0.8225rem;
}

// 더보기버튼
.detail-section4__container-section2-part1-button{
    background: none;  
    border: none;   
    text-decoration-line: underline;    
    cursor: pointer;    
    text-align: left;   
    font-size: 0.8725rem;  
    display: inline;
    width: 100%;
    font-weight: 600;
    padding: 0;
}
// 댓글목록 - 텍스트내용
.detail-section4__container-section2-part1-reply-box{
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 100%;
}
.detail-section4__container-section2-part1-reply{
    font-size: 0.9375rem;    
    width: 100%;    
    height: 100%;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    background: none;
    color: $black-lv1;   
    line-height: 1.3;
}

// 페이지네이션
.detail-section4__container-section2-part2{
    display: flex;  
    justify-content: center;
}

