.lv2-img-container{
    display: flex;
    gap : 20px;
}
.lv2-description-title{
    font-size: 1.3rem;
}
.lv2-description-container{
    width: 1200px;
    height: 350px;
    position: relative;
}
.lv2-img-wrapper{
    margin-top: 15px;
    width: 280px;
    margin-right: 25px;
    display: inline-block;
    text-decoration: none;
    color: black;
}
.lv2-description-content{
    gap:20px;
    overflow: hidden;
}
.lv2-content-container{
    display: flex;
}
.lv2-des-con-wrapper{
    width: 100%; height: 100%;  position: relative; z-index: 2;
}




/* 카테고리 내용 */
.lv2-img-text{
    margin-top: 15px;   display: flex;  flex-direction: column; gap:5px; 
}
.lv2-img-tex1{
    font-size: 0.85rem;  color: rgb(100,100,100);
}
.lv2-img-tex2{
    font-size: 1.1rem;  font-weight: bold;
}
.lv2-img-tex3, .lv2-img-tex4{
    font-size: 1rem; color: rgb(100,100,100);
}
.lv2-img-tex5{
    font-size: 1.1rem;  font-weight: bold;
}
