.sublist-container{
    width: 880px;
}
.sublist-list{
    width:100%;
    height: 261px;
    /* border : solid 1px black; */
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    border-bottom: solid 1px rgb(235,235,235);
    box-sizing: border-box; padding-bottom: 20px;
}
.list-img{
    height:240px; width: 396px;
    /* border : solid 1px black; */
    border-radius: 15px;
    overflow: hidden;
    background: black;
}


/* 텍스트 */
.list-text{
    height:100%; width: 484px;
    padding-left: 20px;
    display: flex;  flex-direction: column; gap:3px;
    position: relative;
}
.list-text-tex4{
    width: 70%; display: flex;  flex-wrap: wrap;    gap:10px;    color:rgb(110,110,110);
    font-size: 0.8125rem;
}
.list-text-tex1{
    color:rgb(112,112,112);
    font-size:0.6875rem;
}
.list-text-tex3{
    font-size:0.9875rem;
    font-weight: bold;
}
.list-text-tex6{
    position: absolute;
    bottom: 0;
    right: 0;   
    font-weight: bold;
}
.list-text-tex6 > span:nth-child(1){
    font-size: 1.25rem;
}
.list-text-tex6 > span:nth-child(2){
    font-size: 1rem;
}
.list-text-tex2{
    font-size: 1.125rem;  font-weight: bold;
}
.list-text-t5-b1{
    font-size: 1rem;  font-weight: bold;
}
.list-text-t5-b2{
    display: flex;  column-gap:7px;    width: 80%; flex-wrap: wrap;
}
.list-text-t5-b2 > span{
    color: rgb(110,110,110);    font-size: 0.8125rem;
}
.list-text-tex5{
    display: flex;  flex-direction: column; gap:5px;
}
.list-text-evaluation{
    display: flex;  align-items: center;    gap:10px;
    font-size: 0.75rem;
}