//////////////////////////////////////////////////
////////////////// common color //////////////////
/////////////////////////////////////////////////
$blue-default : #1273E4;




$grey-lv1 : #707070;
$grey-lv6 : #b1b1b1;
$grey-lv7 : #d6d6d6;
$grey-end : rgb(243,243,243);
$grey-end-end: #f8f8f8;