@import 'colors';

//////////////////////////////////////////////////
////////////////// common style //////////////////
/////////////////////////////////////////////////

// =================================================
// block not //
.not-user-sellect{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}

// =================================================
// submit button //
// enable button
.button-enable{
    background-color: $blue-default;    color: white;   cursor: pointer;
    border:none; outline: none; border-radius: 10px; font-weight: bold;  display: block; 
    &:hover{
      background: rgb(18, 110, 220);
    }
}
// disable button 
.button-disable{
  display: block;  border:none;   background-color: $grey-end-end; border-radius: 10px;
  font-weight: bold;  color: $grey-lv6; outline: none;  cursor:not-allowed
}

// =================================================
// fail validation //
.input-invalid{
  outline:solid 0.5px red;
}


// =================================================
// box-shadow //
.box-shadow-lv1{
  box-shadow: 0 0 10px 1px rgb(207, 207, 207);
}

// =================================================
// profile box style //
.profile-box-style{
  display: flex;  gap:10px; justify-content: center;  border-radius: 15px;
  padding: 40px 0;
}
.profile-box-style-column{
  display: flex;  gap:40px; align-items: center;  border-radius: 15px;
  padding-top: 35px;  padding-left: 25px; padding-right: 25px;  padding-bottom: 25px;  flex-direction: column;
}

// =================================================
// input alert text //
.input-alert-text{
  font-size: 0.825rem;    color: red;    margin-top: 10px;    font-weight: 100;
  display: block;
}