.logModal-container{
    position: absolute;
    width : 200px;
    box-shadow: 0 0 10px 1px rgb(207, 207, 207) ;   z-index: 4; background: white;
    right: 0;   top: 70px;
    border-radius: 10px;    
    display: none;

}
.logmodal-con-box3,.logmodal-con-box2,.logmodal-con-box1{
    padding: 15px;   box-sizing: border-box;
    display: flex;  flex-direction: column; justify-content: space-between; gap:20px
}
.logmodal-con-box1,.logmodal-con-box2{
    border-bottom: solid 1px rgb(80,80,80);
}
#log_btn{
    cursor: pointer;    
}
#log_btn:hover{
    background: rgb(243, 243, 243);
}

.lm_active{
    display: block;
}