.kakaomap-container{
    width: 100%;    height: 100%;
    position: absolute; left: 0;    top: 0;
}
.kakaomap-container__portal-container{
    width: 86.92px;   height: 28px;
    display: flex;  justify-content: center;
}