@import '@/manage_scss_style/commonness/colors';

.default-layout__container{
    width:1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.default-layout__main{
    width: 1200px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default-layout__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: rgb(243, 243, 243);
}