@import '@/manage_scss_style/commonness/colors';

.host-update-check-view6__container{
    width: 900px;    
    height: 100%;
    position: relative;
    display: flex;  
    flex-direction: column;
    gap: 10px;
}
// wrapper
.host-update-check-view6__wrapper{
    padding-left: 50px;    
    padding-right: 50px;
    overflow-y: scroll; 
    flex-grow: 1;
}
// title
.host-update-check-view6__title{
    font-size: 1.525rem;   
    font-weight: 600;
    padding-bottom: 40px; 
}

// content
.host-update-check-view6__content{
    width: 100%;
    display: flex;  
    flex-direction: column; 
    gap:40px;
}

.host-update-check-view6__box{
    border-radius: 10px; 
    background-color: $grey-end-end; 
    width: 100%; 
    padding: 20px;  
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgb(207, 207, 207);
    display: flex;  
    align-items: center;    
}
.host-update-check-view6__sellect{
    width: 100%;
    display: flex;  
    flex-direction: column;
    gap: 20px;
}
.host-update-check-view6__title{
    font-size: 1.125rem;    
    font-weight: 600;
}

// footer
.host-update-check-view6__footer{
    width: 100%;  
    height: 125px;
    border-top: solid 1px $grey-end;
    z-index: 2;     
    background-color: white;
    display: flex;  
    padding: 20px;  
    justify-content: right;
}
.host-update-check-view6__fetch-button{
    font-size: 1.225rem;    
    height: 45px;   
    padding: 0 20px; 
}