.detail-box{
    width:100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    gap:10px
}
.det-many-img{
    width:292.5px;
    height:251px;
    cursor: pointer;
}
.det-many-img:hover{
    opacity: 0.8;
}