@font-face {
    font-family: 'ClimateCrisisKR-1979';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.Membership_join-container{
    width:1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Membership_join-content{
    width:580px; height:650px;  margin-top: 50px;   margin-bottom: 50px;
    border: solid 1px rgb(182, 182, 182);
    padding-left: 69px; padding-right: 69px;   padding-top: 40px;   padding-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Membership_join-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: rgb(243, 243, 243);
}
.Membership_join-content-sec1{
    width:100%;
}

.Membership_join-content-sec1-s1{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'ClimateCrisisKR-1979';    color: #00A8D5;
}
.Membership_join-content-sec1-s3{
    font-size: 1.3rem;
}

.Membership_join-content-sec2-s1, .Membership_join-content-sec2-s2, .Membership_join-content-sec2-s3, .Membership_join-content-sec2-s4, .Membership_join-content-sec2-s5, .Membership_join-content-sec2-s6{
    border : none;
    border-bottom: solid 1px  rgb(182, 182, 182);
    color: black;
    display:block;
    width:100%;
    font-size: 1.2rem; margin-bottom: 30px;
}
.Membership_join-content-sec2-btn{
    border: none;     display:flex;
    width:100%;   font-size: 1.2rem;    cursor: pointer;    height: 40px;
    background: #b8e0e9;
    justify-content: center;    align-items: center;
    border-radius: 15px;    transition: 0.3s;
}
.Membership_join-content-sec2-btn:hover{
    background: #80CEE1;
}

.Membership_join-content-sec1-s2{
    width:60px; background: rgb(243, 243, 243);     margin-bottom: 20px;
}
.level-bar-lv2{
    width:66%; height: 5px; background: black;
}