@import '../../../manage_scss_style/commonness/colors';

.acc-initial-regist-app{
    width:1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// =================================================
// contents //   
.acc-initial-regist-app__container{
    width:1200px;   display: flex;  gap:30px;
    flex-direction: column;
    position: relative;
    padding: 60px 0;
    height: 100vh;
    align-items: center;
}
.acc-initial-regist-app__container-section1{
    width: 100%; 
}
.acc-initial-regist-app__container-section1 > span {
    width: 100%;    font-size: 1.5rem;    font-weight: 600;
}

// section2 
.acc-initial-regist-app__container-section2{
    display: flex;  gap : 50px; width: 100%;
    flex-grow: 1;   
}
// s2 - part1
.acc-initial-regist-app__container-section2-part1{
    width: 342px;   display: flex;  flex-direction: column; align-items: center;
    gap:30px;
}
.acc-initial-regist-app__container-section2-part1-box1{
    width: 342px;   height: 230px;  border-radius: 15px;
    display: flex;  gap:20px;
    padding: 20px 0;
}
.acc-initial-regist-app__container-section2-part1-box1-item1{
    display: flex;  align-items: center;    justify-content: center;
    width: 177px;   flex-direction: column; gap: 20px;
}
.acc-initial-regist-app__container-section2-part1-box1-profile{
    width: 104px;   height: 104px;  overflow: hidden;   border-radius: 100%;
}
.acc-initial-regist-app__container-section2-part1-box1-profile > img{
    width: 100%;    height: 100%;   object-fit: cover;
}
.acc-initial-regist-app__container-section2-part1-box1-name{
    font-size: 1.125rem;    font-weight: 400;
}
.acc-initial-regist-app__container-section2-part1-box1-name > span{
    width: 80px;    display: block; text-align: center;
}
.acc-initial-regist-app__container-section2-part1-box1-item2{
    flex-grow: 1;   display: flex;  flex-direction: column; justify-content: space-between; gap:10px;
}
.acc-initial-regist-app__container-section2-part1-box1-item2 > div:nth-child(1){
    padding-top: 10px;
}
.acc-initial-regist-app__container-section2-part1-box1-item2 > div{
    flex-grow: 1;   padding-bottom: 10px;
    border-bottom: 1px solid $grey-lv8;
    display: flex;  flex-direction: column; gap:2px;   justify-content: space-between;
}
.acc-initial-regist-app__container-section2-part1-box1-item2 > div:nth-child(3){
    border: none;
}
.acc-initial-regist-app__container-section2-part1-box1-item2 > div > span:nth-child(1){
    font-size: 0.825rem;
}
.acc-initial-regist-app__container-section2-part1-box1-item2 > div > div{
    display: flex;  gap:5px;    align-items: center;
}
.acc-initial-regist-app__container-section2-part1-box1-item2 > div > div > span:nth-child(2){
    font-size: 0.875rem;
}
.acc-initial-regist-app__container-section2-part1-box1-item2 > div > div > span:nth-child(1){
    font-size: 1.125rem;    font-weight: 600;
}

.acc-initial-regist-app__container-section2-part1-box2{
    width: 342px;   height: 180px;  border-radius: 15px;
    border: solid 1px $grey-lv8;    padding: 30px 20px;
    display: flex;  flex-direction: column; gap:10px;
}
.acc-initial-regist-app__container-section2-part1-box2 > div:nth-child(1) > span:nth-child(1){
    font-size: 1.525rem;  font-weight: 600;
}
.acc-initial-regist-app__container-section2-part1-box2 > div:nth-child(2){
    flex-grow: 1;   display: flex;  flex-direction: column; gap: 10px;  justify-content: center;
}
.acc-initial-regist-app__container-section2-part1-box2 > div:nth-child(2) > div{
    display: flex;  gap:10px;   align-items: center;
}
.acc-initial-regist-app__container-section2-part1-box2 > div:nth-child(2) > div > img{
    height: 20px;
}
// s2 - part2
.acc-initial-regist-app__container-section2-part2{
    flex-grow: 1;
}
.acc-initial-regist-app__container-section2-part2-title{
    font-size: 2rem;    font-weight: 600;
}
// =================================================
// footer // 
.acc-initial-regist-app__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: rgb(243, 243, 243);
}