.search-bottom__wrapper{
    width: 100%;
    display: flex;  flex-direction: column; gap:30px;
    align-items: center;
    position: absolute;
    top:0;
}
.search-bottom-line{
    color: black;
    width:100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; top:0;
}

.b-l-box1-title, .b-l-box2-title, .b-l-box3-title{
    background-color: rgb(245, 245, 245);
    padding-left: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    display: flex;  align-items: center; height: 100%; width: 100%; box-sizing: border-box;
    font-family: inherit;   font-size: 1rem;  color:rgb(51, 51, 51);
    font-weight: 600;
}
.b-l-box1-title::placeholder,
.b-l-box1-title::-webkit-input-placeholder,
.b-l-box1-title::-moz-placeholder,
.b-l-box1-title:-moz-placeholder,
.b-l-box1-title:-ms-input-placeholder {
    color: rgb(155, 155, 155) !important;
}

.bottom-line-box1{
    width:35%;    position: relative;   height: 100%;
    caret-color: rgb(18, 115, 228);
}
.bottom-line-box2{
    width:25%;    position: relative;
    caret-color: rgb(18, 115, 228);   height: 100%;
}
.bottom-line-box3{
    width:25%;    position: relative;
    caret-color: rgb(18, 115, 228);   height: 100%;
}
.bottom-line-box4{
    width:10%;    position: relative;   height: 100%;
}
.b-l-box4-title{
    background-color: rgb(18, 115, 228);    color: white;
    border-radius: 10px;
    cursor: pointer;    height: 100%; width: 100%;
    border: none;    font-weight: 500;    font-family: inherit; display: flex;  align-items: center;    justify-content: center;
}
.b-l-box1-title:hover, .b-l-box2-title:hover, .b-l-box3-title:hover{
    background-color: rgb(235, 235, 235)
}


/* 드롭다운 */

.search-b-l-box1-dr,.search-b-l-box3-dr,.search-b-l-box4-dr{
    background-color: white;  width: 100%;   position:absolute; padding: 12px 12px 20px;   top: 60px; left: 0;
    border-radius: 10px; display: none; box-sizing: border-box;
    box-shadow: 0 0 10px 1px rgb(207, 207, 207) ;   z-index: 3;
}
.search-b-l-box2-dr{
    background-color: white;    padding: 10px;   width:150%; position:absolute; padding-top: 10px;   top: 60px; left: 0;
    border-radius: 10px; display: none; box-sizing: border-box;
    box-shadow: 0 0 10px 1px rgb(207, 207, 207) ;   z-index: 3;
}
.drop_active{
    display: block;
}

/* box1 */
.search-b-l-box1-dr{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(235, 235, 235) transparent;
}
.search-b-l-box1-dr::-webkit-scrollbar{
    width: 12px;
}
.search-b-l-box1-dr::-webkit-scrollbar-track{
    background: transparent;
}
.search-b-l-box1-dr::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: rgb(235 235 235);
    border: 2px solid #ffffff;
}
.search-b-l-box1-dr::-webkit-scrollbar-thumb:hover{
    background-color: rgb(200, 200, 200);
}

.search-b-l-box1-dr-title,.search-b-l-box1-dr-list{
    padding: 12px;    font-weight: 600;
}
.search-b-l-box1-dr-list{
    font-size: 1rem;  cursor: pointer;    display: flex; text-decoration: none; background: none;    color: black;  gap:10px;
    font-weight: 100;
}
.search-b-l-box1-dr-list > span:nth-child(1){
    width: 24px;    font-weight: 500;
}
.search-b-l-box1-dr-list:hover{
    background-color: rgb(245 245 245); border-radius: 10px;
}

/* box2 */

/* box3 */


.search-b-l-box3-dr-box1,.search-b-l-box3-dr-box2,.search-b-l-box3-dr-box3{
    width:100%;
}
.search-b-l-box3-dr-box2{
    display: flex; justify-content: space-between; box-sizing: border-box; padding-left: 35px; padding-right: 35px; margin-top: 30px;   align-items: center;
}
.search-b-l-box3-dr-box1-title{
    font-size: 1rem;    font-weight: bold;  margin-bottom: 10px;    margin-top: 10px;
}
.search-b-l-box3-dr-box1-text{
    font-size: 1rem;
}
.search-b-l-box3-dr-box3{
    font-size: 1rem;    margin-top: 30px;
}
.search-b-l-box3-dr-box2-rb,.search-b-l-box3-dr-box2-lb{
    border-radius: 50%; background: white;    cursor: pointer;    width: 30px;    height: 30px; border: solid 1px rgb(150,150,150);
}
.search-b-l-box3-dr-box2-rb:hover, .search-b-l-box3-dr-box2-lb:hover{
    background-color: rgb(245 245 245); border: none;
}

/* 검색btn */
.b-l-box4-title{
    cursor: pointer;
}
.b-l-box4-title:hover{
    background: rgb(18, 110, 220);
}


/* 검색 프리뷰 */
.search-bottom__preview{
    width: fit-content; 
    height: 44px;   background-color: rgb(245 245 245); 
    border-radius: 10px;
    cursor: pointer;
    display: flex;  align-items: center;
}
.search-bottom__preview > div{
    padding-left: 14px;    padding-right: 14px; height: 100%;
    display: flex; justify-content: center; align-items: center;
    border-radius: 10px;
}
.search-bottom__preview > div:hover{
    background-color: rgb(235, 235, 235)
}
.search-bottom__line{
    height: 20px; width: 1px;   background-color: rgb(180, 180, 180);
}
