.Pri_side_menu-container{
    width:300px;
    height:150px;
    border: solid 5px beige;
    background: white;
    position: relative;
    z-index: 2;
}
.Pri_side_menu-sec1,.Pri_side_menu-sec2,.Pri_side_menu-sec3,.Pri_side_menu-sec4,.Pri_side_menu-sec5{
    border-bottom: solid 1px black;
}