.sublist-container{
    width: 880px;

    .sublist-list{
        width:100%;
        height: 261px;
        /* border : solid 1px black; */
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: black;
        border-bottom: solid 1px rgb(235,235,235);
        box-sizing: border-box; padding-bottom: 20px;
    }
    .list-img{
        height:240px; width: 396px;
        /* border : solid 1px black; */
        border-radius: 15px;
        overflow: hidden;
        background: black;
    }
    .list-text{
        height:100%; width: 484px;
        padding-left: 20px;
        display: flex;  flex-direction: column; gap:3px;
        position: relative;
    }
    // text
    .list-text-tex6{
        position: absolute;
        bottom: 0;
        right: 0;   
        font-weight: bold;
    }
    .list-text-tex6 > span:nth-child(1){
        font-size: 1.25rem;
    }
    .list-text-tex6 > span:nth-child(2){
        font-size: 1rem;
    }
    .list-text-tex1{
        color:rgb(112,112,112);
        font-size:0.6875rem;
    }
    .list-text-tex3{
        font-size:0.9875rem;
        font-weight: bold;
    }
    
    .list-text-tex2{
        font-size: 1.125rem;  font-weight: bold;
    }
    .list-text-tex4{
        width: 70%; display: flex;  flex-wrap: wrap;    gap:10px;    color:rgb(110,110,110);
        font-size: 0.8125rem;
    }

    ///////////////////////////////////////
    /////////////modal stlye///////////////
    ///////////////////////////////////////
    &.sublist-modal__active{
        width: 359px;
        
        .sublist-list{
            height: 209px;
            justify-content: center;
        }
        .list-img{
            height:172px; width: 115px;
        }
        // text
        .list-text{
            height:100%; width: 204px;
            padding-left: 10px;
        }
        .list-text-tex6 > span:nth-child(1){
            font-size: 1.125rem;
        }
        .list-text-tex6 > span:nth-child(2){
            font-size: 0.9375rem;
        }
        .list-text-tex1{
            color:rgb(112,112,112);
            font-size:0.7125rem;
        }
        .list-text-tex3{
            font-size:0.9325rem;
            font-weight: 400;
            // color:rgb(112,112,112);
        }        
        .list-text-tex2{
            font-size: 1rem;  font-weight: bold;
        }
        .list-text-tex4{
            width: 100%; display: flex;  flex-wrap: wrap;    column-gap:5px;    color:rgb(110,110,110);
            font-size: 0.8125rem;   row-gap: 3px;
        }
    }
}
