@import '@/manage_scss_style/commonness/colors';

.search-menu__container{
    width: 100%;
    // height: 100%;
}
// search preview
.search-menu__preview{
    width: fit-content;
    height: 100%;
    display: flex;
    border-radius: 10px;
    background-color: $grey-end;
}
.search-menu__preview-location,
.search-menu__preview-date,
.search-menu__preview-capacity{
    padding: 14px;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}
.search-menu__preview-location::before,
.search-menu__preview-date::before{
    // border-right: solid 1px $grey-lv9;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px; 
    height: 50%; 
    background-color: $grey-lv9; 
}

// search default
.search-menu__default{
    color: black;
    width:100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.search-menu__location-input, 
.search-menu__check-in-out-input, 
.search-menu__capacity-input{
    background-color: rgb(245, 245, 245);
    padding-left: 45px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    display: flex;  
    align-items: center; 
    height: 100%; 
    width: 100%; 
    font-family: inherit;   
    font-size: 1rem;  
    color:$black-lv1;
    font-weight: 600;

    &:hover{
        background-color: $grey-lv10;
    }
}
.search-menu__location-input:focus{
    border: solid 0.5px black;
    background-color: white;
}

.search-menu__capacity-wrapper{
    width:25%;   
    position: relative;
    caret-color: $blue-default;   
    height: 100%;
}

// modal  
.search-menu__location-modal,
.search-menu__capacity-modal{
    background-color: white;  
    width: 100%;   
    position:absolute; 
    padding: 12px 12px 20px;   
    top: 60px; 
    left: 0;
    border-radius: 10px;     
    z-index: 3;
}


// location modal 
.search-menu__location-wrapper{
    width:35%;    
    position: relative;   
    height: 100%;
    caret-color: $blue-default;
}
.search-menu__location-modal{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(235, 235, 235) transparent;
}
.search-menu__location-modal::-webkit-scrollbar{
    width: 12px;
}
.search-menu__location-modal::-webkit-scrollbar-track{
    background: transparent;
}
.search-menu__location-modal::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: rgb(235 235 235);
    border: 2px solid #ffffff;
}
.search-menu__location-modal::-webkit-scrollbar-thumb:hover{
    background-color: rgb(200, 200, 200);
}
.search-menu__location-modal-title,
.search-menu__location-modal-list,
.search-menu__location-modal-search-list{
    padding: 12px;    
    font-weight: 600;
}
.search-menu__location-modal-list{
    font-size: 1rem;  
    cursor: pointer;    
    display: flex; 
    text-decoration: none; 
    background: none;    
    color: black;  
    gap:10px;
    font-weight: 100;
}
.search-menu__location-modal-search-list{
    font-size: 1rem;  
    cursor: pointer;    
    display: flex; 
    flex-direction: column;
    text-decoration: none; 
    background: none;    
    color: black;  
    font-weight: 100;
    gap:5px;
}
.search-menu__location-modal-search-list > div{
    display: flex;
    gap:10px;
    align-items: center;
    & > img{
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
}
.search-menu__location-modal-search-list > span{
    padding-left: 30px;
    font-size: 0.835rem;
    color: $grey-lv1;
}
.search-menu__loaction-modal-search-not{
    color: $grey-lv1;
    padding-left: 12px;
    font-size: 0.9375rem;
}
.search-menu__location-modal-list > span:nth-child(1){
    width: 24px;    
    font-weight: 500;
}
.search-menu__location-modal-list:hover{
    background-color: rgb(245 245 245); 
    border-radius: 10px;
}
.search-menu__img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    position: absolute;
    left : 10px;
    top: 50%;
    transform: translateY(-50%);
}
// check in out 
.search-menu__check-in-out-wrapper{
    width:25%;    
    position: relative;
    caret-color: $blue-default;   
    height: 100%;
}
.search-menu__check-in-out-modal{
    background-color: white;    
    padding: 10px;   
    width:fit-content; 
    position:absolute; 
    padding-top: 10px;   
    top: 60px; 
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px; 
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.search-menu__check-in-out-modal-board{
    display: flex;
    gap:10px;
}
.search-menu__check-in-out-modal-board > div{
    border: solid 1px $grey-lv10;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:5px;
    width: 110px;
}
.search-menu__check-in-out-modal-close-button{
    position: absolute;
    right: 10px;
    top : 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9375rem;
}
.search-menu__check-in-out-modal-close-button > img{
    object-fit: cover;
    width: 20px;
    height: 20px;
}
.search-menu__check-in-out-modal-board > div > span:nth-child(1){
    font-size: 0.825rem;
    color: $grey-lv1;
}
.search-menu__check-in-out-modal-board > div > span:nth-child(2){
    display: block;
    padding-top: 5px;
    border-top: solid 1px $grey-lv10;
    font-size: 0.9375rem;
}
// capacity 

.search-menu__capacity-modal-box1,
.search-menu__capacity-modal-box2{
    width:100%;
}
.search-menu__capacity-modal-close-button{
    position: absolute;
    right: 10px;
    top : 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9375rem;
}
.search-menu__capacity-modal-box2{
    display: flex; 
    gap:20px;
    margin-top: 25px;   
    align-items: center;
}
.search-menu__capacity-modal-box1{
    display: flex;
    flex-direction: column;
    gap:25px;
}
.search-menu__capacity-modal-box1-title{
    font-size: 1rem;    
    font-weight: 600;  
}
.search-menu__capacity-modal-box1-text{
    font-size: 0.875rem;
    color: $grey-lv1;
}
.search-menu__capacity-modal-box2-button{  
    width: 35px;    
    height: 35px; 
    display: flex;
    justify-content: center;
    align-items: center;
} 
.search-menu__capacity-modal-box2-button:hover{
    background-color: rgb(245 245 245); 
    border: none;
}
.search-menu__capacity-modal-value{
    font-size: 1.125rem;
    width: 20px;
    text-align: center;
}
.search-menu__capacity-modal-box2-button > img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

// 검색
.search-menu__search-button-wrapper{
    width:10%;    
    position: relative;   
    height: 100%;
}
.search-menu__search-button{
    background-color: $blue-default;    
    color: white;
    border-radius: 10px;
    cursor: pointer;    
    height: 100%; 
    width: 100%;
    border: none;    
    font-weight: 500;    
    font-family: inherit; 
    display: flex;  
    align-items: center;    
    justify-content: center;
}
.search-menu__search-button{
    font-size: 1rem;
    font-weight: 600;
}

