.Host_footer-container{
    width:100%;
    display: flex; align-items: center; gap: 30px;  flex-direction: column;
}
.host_footer-con-sec2{
    width: 1200px;
    display: flex; justify-content: space-between;
}
.host_footer-con-sec1{
    width:100%; height: 15px;
    background: rgb(200, 200, 200);
}
.host_footer-con-s1-bar{
    width:0;    height: 100%;
    background: black;
    transition: 0.5s;
}