@import '@/manage_scss_style/commonness/colors';

.section1-payment__container{
    padding: 24px;
    width:100%; 
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border: solid 1px $grey-lv10;
    border-radius: 10px;
    color: $grey-lv1;
    font-size: 0.9375rem;
}

// header
.section1-payment__header{
    display: flex;
    width: 100%;
    gap:5px;
    align-items: flex-end;
}
.section1-payment__header > span:nth-child(1){
    font-size: 1.225rem;
    font-weight: 600;
    color: $black-default;
}
.section1-payment__header > span:nth-child(2){
    font-size: 0.9775rem;
}

// section1
.section1-payment__section1{
    width: 100%;
    display: flex;
    border: solid 1px $grey-lv10;
    border-radius: 10px;
}
.section1-payment__section1 > div:nth-child(1){
    border-right: solid 1px $grey-lv10;
}
.section1-payment__section1 > div{
    cursor: pointer;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 10px 16px;
}
.section1-payment__section1 > div:hover{
    background-color: $grey-end-end;
}
.section1-payment__section1 > div > span:nth-child(1){
    font-size: 0.8225rem;
}
.section1-payment__section1 > div > span:nth-child(2){
    color: $black-default;
}

// section2
.section1-payment__section2{
    width: 100%;
    border: solid 1px $grey-lv10;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.section1-payment__section2 > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 16px;
}
.section1-payment__section2 > div > span:nth-child(1){
    font-size: 0.8225rem;
}
.section1-payment__section2 > div > div{
    color: $black-default;
}