@import '../../../manage_scss_style/commonness/colors';

.Acc-regist-lv4__footer{
    width:800px;
    position: fixed;
    bottom: 0;
}
.Acc-regist-lv4__container{
    width:1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Acc-regist-lv4__content{
    margin-top: 50px;
    width:800px;
}
.Acc-regist-lv4__content-title{
    margin-bottom: 50px;
    font-size: 1.725rem;    font-weight: bold;
}
.Acc-regist-lv4__content-section1{
    width:100%;
    display: grid; grid-template-columns: repeat(4,1fr); gap:30px;
}
.Acc-regist-lv4__content-section1-box{
    width: 100%; gap:20px;

}
.Acc-regist-lv4__content-section1-box > img{
    width: 50px;    height: 50px;
}
.Acc-regist-lv4__content-section1-box-text1{
    font-weight: bold; font-size: 1.2rem;
}
