.boolean_btn{
    border-radius: 5px;
    border: none; margin-right: 15px; font-size: 1rem; margin-bottom: 10px; transition: 0.2s;
    cursor: pointer;
}
.boolean_btn:hover{
    background: rgb(200, 200, 200);
}

.active{
    background: rgb(80,80,80);
    color: white;
}