.boolean_btn{
    border-radius: 100px;
    border: solid 1.5px rgb(235,235,235);   font-size: 0.8125rem; transition: 0.2s;
    line-height: 0.8125rem; font-weight: 600;
    cursor: pointer; padding: 8px 16px;
    background-color: white;
}
.boolean_btn:hover{
    background: rgb(245, 245, 245);
}

.active{
    background-color: rgb(240, 247, 255);
    color: rgb(18 115 228);    
    border: solid 1.5px rgb(171, 210, 255);
}
