@import '@/manage_scss_style/commonness/colors';

.host-regist-view2__footer{
    width:800px;
    position: fixed;
    bottom: 0;
}
.host-regist-view2__container{
    width:1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.host-regist-view2__content{
    margin-top: 50px;
    width:800px;
}
.host-regist-view2__content-title{
    margin-bottom: 50px;
    font-size: 1.725rem;    
    font-weight: bold;
}
.host-regist-view2__content-section1{
    width:100%;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap:30px;
}
.host-regist-view2__content-section1-box{
    width: 100%; 
    display: flex;  
    flex-direction: column; 
    gap:10px;
}
.host-regist-view2__content-section1-box > img{
    height: 50px;
}
.host-regist-view2__content-section1-box-text1{
    margin-top: 10px;   
    margin-bottom: 10px;    
    font-weight: bold; 
    font-size: 1.2rem;
}
.host-regist-view2__content-section1-box-text2{
    color: $grey-lv2;   
    flex-grow: 1;   
    line-height: 1.3;
}
