.ReservationApp{
    width: 1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 메인콘텐츠 */
.ReservationApp-content{
    width:1200px; height: fit-content;
    display: flex;
    justify-content: space-between; box-sizing: border-box; padding-top: 30px;  padding-bottom: 30px;
}
.ReservationApp-content-sec1{
    width:65%;   display: flex; flex-direction: column;
}
.ReservationApp-content-sec2{
    width:33%; 
}
/* 푸터 */
.ReservationApp-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: rgb(243, 243, 243);
}