.Event_swiper-container{
    width: 1200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap:20px;   position: relative; 
}
.Event_swiper-title{
    font-size: 1.125rem;  font-weight: 600;
}
/* 스와이퍼 */
.Event-swiper-slide{
    height: 100%;    user-select: none;
}
.Event_swiper-content{
    height: 100%;
}
