.Acc_regist_lv8-footer{
    width:100%;
    position: fixed;
    bottom: 0;
}
.Acc_regist_lv8-container{
    width:1920px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Acc_regist_lv8_content{
    margin-top: 50px;   margin-bottom: 20vh;
    width:600px;
}
.Acc_regist_lv8-con-title{
    margin-bottom: 50px;
    font-size: 2rem;    font-weight: bold;
}





.Acc_regist_lv8-con-subtitle{
    margin-top: 10px;   font-size: 1.2rem;
}



/* 데이터 인풋 */
.Acc_regist_lv8-con-s1-b1-title, .Acc_regist_lv8-con-s2-title{
    font-size: 1.5rem;
}

.Acc_regist_lv8-con-sec1{
    width:100%;
    display: flex; gap:10px;    flex-direction: column;
}
.Acc_regist_lv8-con-s1-b1, .Acc_regist_lv8-con-s1-b2{
    width: 100%;  box-sizing: border-box;
}

.Acc_regist_lv8-con-s1-b1{
    height: 80px;
}

.Acc_regist_lv8-con-s1-b2{
    display: flex; flex-direction: column; gap: 10px;
}



/* 수용인원 */
.Acc_regist_lv8-con-sec2{
    margin-top: 80px; 
    width:100%;
    display: flex; gap:30px;    flex-direction: column;
}

.Acc_regist_lv8-con-s2-b1-d2{
    display: flex; align-items: center; justify-content: space-between;   width:  150px;
}

#Ac_re_lv8_btn{
    border-radius: 20px; border: none; width: 40px; height: 40px; font-size: 1.5rem;
}
.Acc_regist_lv8-con-s2-b1-d2-t1{
    font-size: 1.6rem;
}
.Acc_regist_lv8-con-s2-b1{
    display: flex; width: 100%; gap:30px;   align-items: center;
}
.Acc_regist_lv8-con-s2-b1-d2-t1{
    width:54px; display: flex; justify-content: space-between;
}

/* sec3 */
.Acc_regist_lv8-con-sec3{
    margin-top: 40px;
    color: red;
}

#Ac_re_lv8_btn{
    cursor: pointer;
}