.lv3-img-container{
    display: flex;
    gap : 20px;
}

.lv3-description-container{
    width: 1200px;
    height:375px;
    display: flex;
    flex-direction: column;
    gap:20px;   position: relative;
}
.lv3-img-wrapper{
    width: 280px;
    height:375px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
}
.lv3-description-content{
    overflow: hidden;    
    position: relative;
    width: 1200px;
    height: 330px;
}
.lv3-img-text{
    border: solid 1px black;
    width: 260px; height:160px;
    left:50%; transform: translateX(-50%);
    position: absolute;
    top:15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
    color:white;
    text-shadow: 0px 0px 10px rgb(36, 36, 35);
}
.lv3-img-tex2-box{
    font-size:1.5rem;
}
.lv3-img-tex3{
    font-size: 1.05rem;
}
.lv3-content-container{
    height:400px;
    display: flex;
}
.lv3-content-container{
    display: flex; gap: 24px;   position: absolute; top:0; left: 0; transition: 0.6s;
}
.lv3-description-title{
    font-size: 1.3rem;  font-weight: 600;
}

