.lv3-img-container{  
    background-color: black;
    width:282px;
    height:375px;
    border-radius: 15px;    overflow: hidden;
    position:relative;
}

.lv3-description-container{
    width: 1200px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:20px;   position: relative;
}
.lv3-img-wrapper{
    width: 280px;
    height:375px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
}
.lv3-description-content{
    overflow: hidden;    
    position: relative;
    width: 1200px;
    height: 375px;
}
.lv3-img-text{
    width: 260px; height:fit-content;
    left:50%; transform: translateX(-50%);
    position: absolute;
    top:15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
    color:white;
    text-shadow: 0px 0px 10px rgb(36, 36, 35);
    pointer-events: none;
}
.lv3-img-tex2-box{
    font-size:1.5rem;

}
.lv3-img-tex3{
    font-size: 1.05rem;

}
.lv3-content-container{
    height:400px;
    display: flex;
}
.lv3-content-container{
    display: flex; gap: 24px;   position: absolute; top:0; left: 0; transition: 0.6s;
}
.lv3-description-title{
    font-size: 1.125rem;      font-weight: 600;
}

.lv3-img-tex1, .lv3-img-tex2-1, .lv3-img-tex2-2, .lv3-img-tex3{
    backdrop-filter: blur(1px); width: fit-content;
}