.Res_con_sec1-container{
    width:100%; height: 100%;
    display: flex;  flex-direction: column; gap:30px;
}
/* 섹션1 */
.Res_con_sec1-sec1{
    font-size: 1.5rem;  font-weight: bold;  border-bottom: solid 1px rgb(210, 210, 210);
    box-sizing: border-box; padding-bottom: 30px;
}

/* 섹션2 */
.Res_con_sec1-sec2{
    box-sizing: border-box; padding-bottom: 30px;   border-bottom: solid 1px rgb(210, 210, 210);
    display: flex;  flex-direction: column; gap: 20px;
}
.Res_con_sec1-sec2-title{
    font-size: 1.25rem;  font-weight: bold;  
}
.Res_con_sec1-sec2-content{
    display: flex;  flex-direction: column; gap: 20px;
}
.Res_con_sec1-sec2-con-sec1, .Res_con_sec1-sec2-con-sec2{
    display: flex;  flex-direction: column; gap: 5px;
}
.Res_con_sec1-sec2-con-s1-b1{
    color:  rgb(120,120,120);
}
/* 섹션3 */
.Res_con_sec1-sec3{
    box-sizing: border-box; padding-bottom: 30px;   border-bottom: solid 1px rgb(210, 210, 210);
    display: flex;  flex-direction: column; gap: 20px;
}
.Res_con_sec1-sec3-title{
    font-size: 1.25rem;  font-weight: bold;  
}
.Res_con_sec1-sec3-content{
    display: flex;  flex-direction: column; gap: 10px;
}
.Res_con_sec1-sec3-con-sec1{
    color: #C13515; font-size: 1.05rem;
}
.Res_con_sec1-sec3-con-sec2{
    display: flex;  gap:10px; 
}
.Res_con_sec1-sec3-con-sec2 > span {
    width: 10px;
}
/* 섹션4 */
.Res_con_sec1-sec4{
    box-sizing: border-box; padding-bottom: 30px;   border-bottom: solid 1px rgb(210, 210, 210);
    display: flex;  flex-direction: column; gap: 20px;
}
.Res_con_sec1-sec4-title{
    font-size: 1.25rem;  font-weight: bold; 
}
.Res_con_sec1-sec4-content{
    display: flex;  flex-direction: column; gap: 10px;
}
.Res_con_sec1-sec4-con-sec1{
    display: flex;  gap:10px; 
}
.Res_con_sec1-sec4-con-sec1 > span {
    width: 10px;
}
/* 섹션5 */
.Res_con_sec1-sec5{
    box-sizing: border-box; padding-bottom: 30px;   border-bottom: solid 1px rgb(210, 210, 210);
    display: flex;  flex-direction: column; gap: 20px;
}
.Res_con_sec1-sec5-title{
    font-size: 1.25rem;  font-weight: bold; 
}
.Res_con_sec1-sec5-content{
    display: flex;  flex-direction: column; gap: 10px;
}
.Res_con_sec1-sec5-con-sec1-b1{
    color:  rgb(120,120,120);
}
.Res_con_sec1-sec5-con-sec2, .Res_con_sec1-sec5-con-sec1{
    display: flex;  flex-direction: column; gap:5px;
}
.Res_con_sec1-sec5-con-sec1-b2{
    font-size: 1.2rem;  color: #1273e4; font-weight: bold;
}

/* 섹션6 */
.Res_con_sec1-sec6{
    display: flex;  width: 100%;   gap:40px;
}
.Res_con_sec1-sec6-btn{
    border: none;   box-sizing: border-box; padding-left: 30px; padding-right: 30px;    padding-top: 15px;  padding-bottom: 15px;   border-radius: 15px;
    font-size: 1.3rem;  font-weight: bold;  cursor: pointer; 
}
.Res_con_sec1-sec6-btn:nth-child(1){
    background: #b8e0e9;
}
.Res_con_sec1-sec6-btn:nth-child(1):hover{
    background: #80CEE1;  
}

.Res_con_sec1-sec6-btn:nth-child(2){
    background: #e69786;    
}
.Res_con_sec1-sec6-btn:nth-child(2):hover{
    background: #cc6149; 
}
