@import '@/manage_scss_style/commonness/colors';

@font-face {
    font-family: 'ClimateCrisisKR-1979';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

.reservation-detail-section1__container{
    width:100%; 
    height: fit-content;
    display: flex;  
    flex-direction: column; 
    gap:24px;
}
// title
.reservation-detail-section1__title{
    font-size: 1.325rem;  
    font-weight: 600;  
    border-bottom: solid 1px $grey-lv10;
    padding-bottom: 24px;
    display: flex;
    gap:10px;
    align-items: center;
}
.reservation-detail-section1__title-button{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & >img{
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
}

// 섹션1
.reservation-detail-section1__section1{
    padding-bottom: 24px;   
    border-bottom: solid 1px $grey-lv10;
    display: flex;  
    flex-direction: column; 
    gap: 24px;
    font-size: 0.9375rem;
    color: $black-lv1;
}
.reservation-detail-section1__section1-title{
    font-size: 1.125rem;  
    font-weight: 600;  
    color: $black-default;
}
.reservation-detail-section1__section1-content{
    display: flex;  
    flex-direction: column; 
    gap: 24px;
}
.reservation-detail-section1__section1-content-checkin, 
.reservation-detail-section1__section1-content-checkout,
.reservation-detail-section1__section1-content-guest{
    display: flex;  
    flex-direction: column; 
    gap: 10px;
}
.reservation-detail-section1__section1-content-title{
    font-size: 0.8725rem;
    color: $grey-lv1;
    display: flex;
    gap: 5px;
}
.reservation-detail-section1__section1-content-box{
    width: 8px; 
    position: relative;

    & > div{
        position: absolute; 
        top:0; 
        left:0; 
        width: 4px;  
        height: 4px;    
        border-radius: 100%;
        background-color: red;
    }
}
.reservation-detail-section1__section1-content-text{
    width: 340px;
    height: 48px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: $grey-end;
}

// 섹션2
.reservation-detail-section1__section2{
    padding-bottom: 24px;   
    border-bottom: solid 1px $grey-lv10;
    display: flex;  
    flex-direction: column; 
    gap: 24px;
    font-size: 0.9375rem;
    color: $black-lv1;
}
.reservation-detail-section1__section2-title{
    font-size: 1.125rem;  
    font-weight: 600;  
    color: $black-default;
}
.reservation-detail-section1__section2-content{
    display: flex;  
    flex-direction: column; 
    gap: 24px;
}
.reservation-detail-section1__section2-content-main-adress, 
.reservation-detail-section1__section2-content-sub-adress{
    display: flex;  
    flex-direction: column; 
    gap: 10px;
}
.reservation-detail-section1__section2-content-title{
    font-size: 0.8725rem;
    color: $grey-lv1;
    display: flex;
    gap: 5px;
}
.reservation-detail-section1__section2-content-box{
    width: 8px; 
    position: relative;

    & > div{
        position: absolute; 
        top:0; 
        left:0; 
        width: 4px;  
        height: 4px;    
        border-radius: 100%;
        background-color: red;
    }
}
.reservation-detail-section1__section2-content-text{
    width: 340px;
    min-height: 48px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: $grey-end;
}

// 섹션3
.reservation-detail-section1__section3{
    padding-bottom: 24px;   
    border-bottom: solid 1px $grey-lv10;
    display: flex;  
    flex-direction: column; 
    gap: 24px;
    font-size: 0.9375rem;
    color: $black-lv1;
}
.reservation-detail-section1__section3-title{
    font-size: 1.125rem;  
    font-weight: 600;  
    color: $black-default;
}
.reservation-detail-section1__section3-content{
    display: flex;  
    flex-direction: column; 
    gap: 24px;
}
.reservation-detail-section1__section3-content-rule, 
.reservation-detail-section1__section3-content-check,
.reservation-detail-section1__section3-content-manual{
    display: flex;  
    flex-direction: column; 
    gap: 10px;
}
.reservation-detail-section1__section3-content-title{
    font-size: 0.8725rem;
    color: $grey-lv1;
    display: flex;
    gap: 5px;
}
.reservation-detail-section1__section3-content-box{
    width: 8px; 
    position: relative;

    & > div{
        position: absolute; 
        top:0; 
        left:0; 
        width: 4px;  
        height: 4px;    
        border-radius: 100%;
        background-color: red;
    }
}
.reservation-detail-section1__section3-content-text{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:14px;
    & > div{
        display: flex;
        flex-direction: column;
        gap:7px;

        & > li{
            font-weight: 600;
        }
    }


}
.reservation-detail-section1__section3-check-method-box{
    display: flex;
    flex-direction: column;
    gap:7px;
    padding-left: 20px;
    font-size: 0.8875rem;
}
.reservation-detail-section1__section3-check-method-box-list{
    display: flex;
    flex-direction: column;
    gap:7px;
    padding-left: 20px;

    &>span:nth-child(1){
        font-size: 0.9125rem;
        color: $black-lv1;
    }
    &>span:nth-child(2){
        font-size: 0.8875rem;
    }
}
.reservation-detail-section1__section3-check-method-box-wrapper{
    display: flex;
    flex-direction: column;
    gap:14px;
}
.reservation-detail-section1__section3-content-padding-bottom{
    padding-bottom: 44px;
}
.reservation-detail-section1__section3-content-detail-button{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
}

// 섹션4
.reservation-detail-section1__section4{
    padding-bottom: 24px;   
    border-bottom: solid 1px $grey-lv10;
    display: flex;  
    flex-direction: column; 
    gap: 24px;
    font-size: 0.9375rem;
    color: $black-lv1;
}
.reservation-detail-section1__section4-title{
    font-size: 1.125rem;  
    font-weight: 600;  
    color: $black-default;
}
.reservation-detail-section1__section4-content{
    display: flex;  
    flex-direction: column; 
    gap: 24px;
    position: relative;
}
.reservation-detail-section1__section4-content-total-price, 
.reservation-detail-section1__section4-content-day-price{
    display: flex;  
    flex-direction: column; 
    gap: 10px;
}
.reservation-detail-section1__section4-content-title{
    font-size: 0.8725rem;
    color: $grey-lv1;
    display: flex;
    gap: 5px;
}
.reservation-detail-section1__section4-content-box{
    width: 8px; 
    position: relative;

    & > div{
        position: absolute; 
        top:0; 
        left:0; 
        width: 4px;  
        height: 4px;    
        border-radius: 100%;
        background-color: red;
    }
}
.reservation-detail-section1__section4-content-text{
    width: 340px;
    min-height: 48px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: $grey-end;
}
.reservation-detail-section1__section4-content-detail-button{
    padding: 5px 10px;
    width: fit-content;
}

// 섹션5
.reservation-detail-section1__section5{
    padding-bottom: 24px;   
    border-bottom: solid 1px $grey-lv10;
    display: flex;  
    flex-direction: column; 
    gap: 24px;
    font-size: 0.9375rem;
    color: $black-lv1;
}
.reservation-detail-section1__section5-title{
    font-size: 1.125rem;  
    font-weight: 600;  
    color: $black-default;
}
.reservation-detail-section1__section5-content{
    display: flex;  
    flex-direction: column; 
    gap: 12px;
}
.reservation-detail-section1__section5-number{
    display: inline-block;
    width: 17px;
}
.reservation-detail-section1__section5-content-detail-button{
    padding: 5px 10px;
    width: fit-content;
}

// modal
// rule modal
.reservation-detail-section1__add-rule-modal-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:24px;
}
.reservation-detail-section1__add-rule-modal-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;

    & > span:nth-child(1){
        font-size: 1.125rem;
        font-weight: 600;
    }
}

// bill modal
.reservation-detail-section1__bill-modal-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.reservation-detail-section1__bill-modal-title{
    font-size: 1.325rem;
    font-family: 'ClimateCrisisKR-1979';
    color : #00A8D5;
}
.reservation-detail-section1__bill-modal-contents{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    border: solid 1px $grey-lv7;
}
.reservation-detail-section1__bill-modal-item{
    display: flex;
    flex-direction: column;

    & > span{
        padding: 5px 10px;
        font-size: 0.825rem;
    }
    & > span:nth-child(1){
        background-color: $grey-end;
        color: $grey-lv1;
    }
}
.reservation-detail-section1__bill-modal-footer{
    font-size: 0.825rem;
}

// map modal
.reservation-detail-section1__map-modal-container{
    width: 100%;
    display: flex;
    gap:20px;
}
.reservation-detail-section1__map-modal-section1{
    height: 619px;
    width: 30%;
    padding-right: 20px;
    border-right: solid 1px $grey-lv10;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.reservation-detail-section1__map-modal-section2{
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}
.reservation-detail-section1__map-modal-section1-item{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-bottom: 20px;
    & > p{
        display: flex;
        flex-direction: column;
        gap:10px;
        
        & > span:nth-child(1){
            font-size: 0.875rem;
            color: $grey-lv1;
        }
    }
}

.reseration-detail-section1__map-modal-navigation-container{
    display: flex;
    flex-direction: column;
    gap:10px;

    & > span:nth-child(1){
        font-size: 0.875rem;
        color: $grey-lv1;
    }

    & > span:nth-child(2){
        font-size: 0.875rem;
        color: $blue-default;
    }

    & > div{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
}
.reservation-detail-section1__map-modal-section1-item-value{
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    gap:10px;
    width: 100%;


    & > img{
        width: 25px;
        height: 25px;
    }
}
.reservation-detail-section1__map-modal-section1-item-pre{
    line-height: 1.3;
    font-size: 0.925rem;
}
.reservation-detail-section1__map-modal-section1-item-bottom{
    border-bottom: solid 1px $grey-lv10;
}
.reservation-detail-section1__map-modal-navigation-wrapper{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap:10px;
    & > p:nth-child(2){
        padding-left: 35px;
        display: flex;
        flex-direction: column;
        gap:5px;
        font-size: 0.875rem;
    }
}
.reservation-detail-section1__map-modal-navigation-wrapper:hover{
    background-color: $grey-end-end;
}

// refund modal
.reservation-detail-section1__refund-modal-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;

    & > span{
        font-size: 1.125rem;
        font-weight: 600;
    }
}
.reservation-detail-section1__refund-modal-contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;

    & > li {
        list-style-position: outside;
        padding-left: 20px; 
        text-indent: -20px;
    }
    
    & > li::marker {
        margin-right: 20px;
    }
}
.reservation-detail-section1__refund-modal-result{
    display: flex;
    flex-direction: column;
    gap:10px;

    & > span:nth-child(1){
        font-size: 1.125rem;
        font-weight: 600;
    }
}