.congratulation-app{
    width: 100vw;   height: 100vh;
    position: fixed;    top:0;  left:0;
    overflow: hidden;   pointer-events: none;
}
.congratulation-app__item{
    position: absolute;
    top:-10px;
    width: 5px;  height: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    animation: ddongaru-fall calc(3s * var(--k)) linear 1;
}
@keyframes ddongaru-fall{
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
    }
}

.congratulation-app__item:nth-child(odd){
    animation-delay: calc(1s * var(--i));
    left: calc(100% * var(--j) / 80);
}
  
.congratulation-app__item:nth-child(even){
    animation-delay: calc(1s * var(--i));
    left: calc(100% * var(--j) / 80);
}