.subApp{
    width:1920px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:30px;
}
.sub-content{
    width:1200px;
    display: flex;
    gap:30px;
}
.sub-main-content{
    width:90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sub-footer{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(243, 243, 243);
}