/* 평점 */
.Evalu_star-container{
    display: flex;
    align-items: center;
    
}
.star{
    appearance: none;
    cursor: pointer;
}
.star_display{
    padding: 1px;
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-size: 35px;
}

.change_star{
    -webkit-text-fill-color: orange;
}